* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #000;
  color: white;
  font-family: "Poppins", sans-serif;
  background-size: cover;
}

.heading {
  color: white;
}
#navbar {
  a {
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  a:hover {
    color: rgb(0, 0, 0);
    border-radius: 5px;
    transform: scale(1.1);
  }
}
.banner {
  position: relative;
  width: 100%;
  height: 28rem; /* adjust as needed */
  border-radius: 12px;
  overflow: hidden;
}
.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}
.banner-content {

  position: absolute;
  bottom: 20px;
  left: 20px;
  max-width: 60%;
  color: white;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.7);
}
.banner-content p {
  font-size: 1rem;
  line-height: 1.4;
  max-height: 5.5rem; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.banner-content h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 0 0 10px;
}
.card{
  border: none;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s;
}
.card:hover {
  transform: scale(1.05);
}
.detail-link{
  text-decoration: none;
  color: inherit;
}